In [5]:
print(3+5)
print(3-5)
print(3*5)
print(3**2)
print(16/4)
print(16//4)

8
-2
15
9
4.0
4

In [8]:
x,y = 10,3
print(x); print(y)

10
3

In [9]:
def circum_circle(rad):
    return 2 * 3.14 * rad

print(circum_circle(5))

31.400000000000002

In [ ]:
# Strings slicing
s= "Hello good morning ron"
# syntax:  string[start:stop:step]
s[2:10]
"""
for matrix : matrix[row_start:row_stop:row_step]  # Slice rows
matrix[row][col_start:col_stop:col_step]  # Slice columns in a specific row
"""

'llo good'

In [11]:
s[::]

'Hello good morning ron'

In [12]:
s[::-1]

'nor gninrom doog olleH'

In [13]:
s[:-1]

'Hello good morning ro'

In [14]:
s[:-1:]

'Hello good morning ro'

In [15]:
s[-1::]

'n'

In [17]:
s[::2]

'Hlogo onn o'

In [18]:
s[::3]

'Hlgdoi n'

In [19]:
s = "Hello python"
len(s)

12

In [22]:
count = 0
for i in range(len(s)):
    count +=1
print(count)

12

In [24]:
# concat string
a = "hello"
b = "world"
s = a + b
s

'helloworld'

In [26]:
s = [1,2,3,4,5]
print(s)
print(*s)

[1, 2, 3, 4, 5]
1 2 3 4 5

In [31]:
# Format in print 
name = "Alice"
age = 30
print("My name is {} and I am {} years old.".format(name,age))

My name is Alice and I am 30 years old.

In [33]:
print(f"value {1.45454532:.2f}")

value 1.45

In [39]:
my_list = list(range(1,11))
print(my_list )
my_list2 = list(range(10,15))
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 11, 12, 13, 14]

In [40]:
list = my_list + my_list2
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 14]

In [42]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [6,7]

listl1 = [l1,l2,l3]
listl1

[[1, 2, 3], [4, 5, 6], [6, 7]]

In [43]:
listl1[0][2]

3

In [55]:
#Tuples - immutable
t = (1,1,2,3,4,5)
# t[0] = 10

In [47]:
t[1:5:2]

(2, 4)

In [48]:
t.index(4)

3

In [49]:
l1.index(3)

2

In [56]:
t.count(1)

2

In [1]:
"""
dictionaries can be created in following ways:
1. Using curly braces {}
2. Using dict() function    
"""
dict1 = {}
dict1

{}

In [3]:
d2 = dict()
d2

{}

In [4]:
d3 = {"key1": 1, "key2": 2}
d3

{'key1': 1, 'key2': 2}

In [5]:
type(dict1)

dict

In [8]:
d4 = {"key3": 3, "key4": 4}
dict2 = d3 | d4 # or can use .update() method or {**d3, **d4}
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [9]:
# How to add key value pairs to dictionary
dict2["key5"] = 5
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

In [10]:
dict2.pop('key5')

5

In [11]:
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [13]:
dict3 = {"one":1, "two":2, "three":3}
print(dict3.keys())
print(dict3.values())
print(dict3.items())

dict_keys(['one', 'two', 'three'])
dict_values([1, 2, 3])
dict_items([('one', 1), ('two', 2), ('three', 3)])

In [15]:
#python sets
x = set()
x

set()

In [16]:
x.add(1)
x.add(2)

In [17]:
x

{1, 2}

In [19]:
x.pop()

1

In [20]:
x.add(3);x.add(4);x.add(5);x.add(6)
x

{2, 3, 4, 5, 6}

In [25]:
# data type conversion
a = 24
b =float(a)
print(type (a)); print(type(b))

<class 'int'>
<class 'float'>

In [26]:
a = 5.98
print(int(a))

5

In [27]:
a = 10
str(a)

'10'

In [29]:
str = "10"
int(str)

10

In [30]:
# conversions can be done from list to tuples and tuples to list as well.

In [31]:
n = input()

In [32]:
n

'10'

In [34]:
try:
    num = int (input("Enter a number: "))
    print(num)
except ValueError:
    print("Invalid input! Please enter a valid integer.")

10

✍ Assignment 1:
Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

✍ Assignment 2:
Write a Python program which accepts the radius of a circle from the user and compute the area.

✍ Assignment 3:
Write a Python program to get the the volume of a sphere with radius 5.

✍ Assignment 4:
Write a Python program that gets 2 differents numbers as inputs from the user and print them by swapping.

✍ Assignment 5:
Write a Python program that gets the weights and heights as inputs from the user and calculates body mass index(BMI).

✍ Assignment 6:
Write a Python program to find whether a given number (get the numbers from the user) is even or odd, print out an appropriate message to the user.

In [35]:
#Solution 1
Fname = input("Enter your first name: ")
LName = input("Enter your last name: ")
print(LName + " "+Fname)

Wisely Ron

In [ ]:
# Solution 2
def area_of_circle(radius ):
    pi = 3.14159
    area = pi * (radius ** 2)
    return area
area_of_circle(int(input("Enter the radius:")))

314.159

In [ ]:
# Solution 3
# volume of sphere = (4/3)πr³
print("volume of sphere is :", (4/3) * 3.14159 * (5**3))

volume of sphere is : 523.5983333333332

In [40]:
#solution 4
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
a,b = b,a
print(a)
print(b)

20
10

In [43]:
#solution5
wt = float(input("Enter your weight in kg: "))
ht = float(input("Enter your height in meters: "))
bmi = wt/(ht**2)
print("Your BMI is :", bmi)

Your BMI is : 0.0025535446391522234

In [44]:
# solution 6
num = int(input("Enter a number: "))
if num % 2 ==0:
    print("Even number")
else:
    print("Odd number")

Even number

In [45]:
# Comparision operators in python
# ==, !=, >, <, >=, <=
bool(0)

False

In [46]:
bool(-1)

True

In [47]:
1 ==1

True

In [48]:
1 == 2

False

In [49]:
1!=2

True

In [50]:
1 <= 2

True

In [51]:
1>=2

False

In [52]:
print(1 == 2)
print(1 == 1)
print (1 <= 1)
print (1 <= 2)
print (2 <= 1)
print (bool(0))

False
True
True
True
False
False

In [56]:
# Logical operators in python
# and, or, not

print(2 == 3 and 3 > 1)
print(2 ==3 or 3 > 1)
print(not (2 != 3))

False
True
False

In [57]:
# Membership operators
s = "Hello good morning ron"
if "good" in s:
    print("Found")
else:
    print("Not Found")

Found

In [58]:
if "bad" not in s:
    print("Not Found")
else:
    print("Found")

Not Found

In [59]:
# Comparision operators in python
1 < 3 and 2 > 1

True

In [60]:
1 < 3 > 2

True

In [61]:
1 < 3 > 4

False

In [67]:
# Python program runs top to bottom
if (int(input("Enter a number: ")) > 0):
    print("Positive number")
else:
    print("Negative number")

Positive number

In [68]:
print("""
===========================
 Simple Calculator
===========================
Please select an operation:
1) Add
2) Subtract
3) Multiply
4) Divide
""")
choice = input("Please enter a choice(1/2/3/4):")
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if choice == '1':
    print(num1,"+",num2,"=", num1+num2)
elif choice == '2':
    print(num1,"-",num2,"=", num1-num2)
elif choice == '3':
    print(num1,"*",num2,"=", num1*num2)
elif choice == '4':
    print(num1,"/",num2,"=", num1/num2)
else:
    print("Invalid input")

===========================
 Simple Calculator
===========================
Please select an operation:
1) Add
2) Subtract
3) Multiply
4) Divide

10 + 20 = 30

In [71]:
mark = float(input("Please, enter your score: "))
if mark >= 90:
    print('Your grade is : A+')
elif mark >= 85:
    print('Your grade is : A')
elif mark >= 80:
    print('Your grade is : B')
elif mark >= 70:
    print('Your grade is : C')
elif mark >= 60:
    print('Your grade is : D')
else:
    print('Failed! Your grade is : F')

Your grade is : C

In [72]:
list_of_numbers = [10, 25, 30, 45, 50]

for i in list_of_numbers:
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

10 is even
25 is odd
30 is even
45 is odd
50 is even

In [73]:
for i in range (10):
    if i%2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [74]:
dict_sample = {"a":1, "b":2, "c":3, "d":4, "e":5}

for i in dict_sample.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

In [75]:
for i in dict_sample.values():
    print(i)

1
2
3
4
5

In [76]:
for k,v in dict_sample.items():
    print(f"key: {k}, value: {v}")

key: a, value: 1
key: b, value: 2
key: c, value: 3
key: d, value: 4
key: e, value: 5

In [80]:
listl1 = list(range(100))
print(*listl1)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [81]:
print(*range(1,100,2))

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [86]:
print(*range(100,0,-2))

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [87]:
for i in range(1,11):
    print(i * "+")

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++

In [88]:
for i in range(10,0,-1):
    print(i * "#")

##########
#########
########
#######
######
#####
####
###
##
#

In [89]:
# While loop
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [95]:
sum = 0
i =1
while i <= 10:
    sum += i
    i += 1
print("Sum is:", sum)

Sum is: 55

In [98]:
# Break statement
for num in range(1,11):
    if num == 6:
        break
    print(num)

1
2
3
4
5

In [99]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
a = 0
while (a < 10):
 if a == 3:
    a+=1 # If this line does not exist, it will result in infinite loop
    continue
 print(a)
 a+=1

0
1
2
4
5
6
7
8
9

In [102]:
# Pass statement in Python
for i in range(1, 6):
    if i == 3:
        pass  # Placeholder for future code     
    print(i)

1
2
3
4
5

In [104]:
# List comprehension
squares = [x**2 for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
list_num = [1,2,3,4,5]

list2 = [x*2 for x in list_num]
list2

[2, 4, 6, 8, 10]

In [5]:
list_val = [(1,2), (3,4), (5,6)]
list3 = [x for x,y in list_val]
list4 = [y for x,y in list_val]
print(list3)
print(list4)

[1, 3, 5]
[2, 4, 6]

In [7]:
my_str = "Hello world 123456"

numb = [i for i in  my_str if i.isdigit()]
numb

['1', '2', '3', '4', '5', '6']

In [ ]:
# Method 1
list1 = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13],[14,15,16,17,18,19,20]]
res_list = list()
for i in list1:
    for j in i:
        # print(j)
        res_list.append(j)
res_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
# Method 2
list1 = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13],[14,15,16,17,18,19,20]]
res_list = [j for i in list1 for j in i]
res_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
# DRY programming - Don't Repeat Yourself - Avoid redundancy that is repeating the same code multiple times.

def sum(x,y,z):
    return x + y + z

sum(1,2,3)

6

In [14]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

In [23]:
def factr(num):
    fact = 1
    if(num ==0):
        print("Factorial:"+fact)
    else:
        while( num>0):
            fact *=num
            num -=1
        print("Factorial:", fact)
        
factr(5)

Factorial: 120

In [26]:
def sqr(a):
    print("Square of {}:{}".format(a,a**2))

sqr(5)

Square of 5:25

In [27]:
def multiply(x, y):
    return x * y
multiply(4,5)

20

In [29]:
sqr(multiply(4,4))

Square of 16:256

In [30]:
def double(a):
    print("First function executed.")
    return a * 2
def add2(a):
    print("Third function executed.")
    return a + 2
def substract3(a):
    print("Second function executed.")
    return a - 3

print(add2(substract3(double(5))))

First function executed.
Second function executed.
Third function executed.
9

In [ ]:
# Function parameter types
"""
1. Required arguments
2. Keyword arguments
3. Default arguments
4. Variable-length arguments
"""

# Required arguments
def ex_reqarg(name,age):
    return f"Name: {name}, Age: {age}"

print(ex_reqarg("Alice",30))
print(ex_reqarg(24,"Bob"))

# keyword arguments
print(ex_reqarg(age=28, name="Charlie"))


# Default arguments
def ex_defarg(name, age=25): # If value is not passed, default value set is used
    return f"Name: {name}, Age: {age}"  
print(ex_defarg("David"))
print(ex_defarg("Eve", 32))



# Variable-length arguments
def ex_vararg(*args):
    return args
print(ex_vararg(1,2,3))
print(ex_vararg("a","b","c","d"))
print(ex_vararg(1,"a",True,3.14))

Name: Alice, Age: 30
Name: 24, Age: Bob
Name: Charlie, Age: 28
Name: David, Age: 25
Name: Eve, Age: 32
(1, 2, 3)
('a', 'b', 'c', 'd')
(1, 'a', True, 3.14)

In [37]:
# Global and local variables
# All the variables defined outside the functions are global variables and all the 
# variables defined inside the functions are local variables.

c = 7
def my_function():
    c = 5
    print(c)
my_function()
print(c)



d = 7
def my_func():
    global d
    d = 5
    print(d)
my_func()
print(d)

5
7
5
5

In [ ]:
# Lambda functions -> also known as anonymous functions
# syntax: lambda arguments: expression

add = lambda x, y: x + y
print(add(3,5))

8

In [39]:
double = lambda x: x * 2
print(double(4))

8

In [40]:
even_odd = lambda x: "Even" if x%2 ==0 else "Odd"

In [41]:
reverse_txt = lambda s: s[::-1]
print(reverse_txt("Hello world"))

dlrow olleH

In [43]:
def is_palindrome(s):
    str = ''
    for i in s:
        if i.isalnum():
            str += i.lower()
            
            
    return str == str[::-1]
print(is_palindrome("A man, a plan, a canal: Panama"))

True

In [49]:
# Errors and Exceptions
# SyntaxError, TypeError, NameError, IndexError, KeyError, ValueError, AttributeError, ZeroDivisionError    
try:
    num = int("120")
    print(num)
except:
    print("Invalid input! Please enter a valid integer.")

120

In [50]:
try:
    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))
    print(num1/num2)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
except ValueError:
    print("Error: Invalid input. Please enter numeric values.")
print("End of the program.")

Error: Division by zero is not allowed.
End of the program.

In [51]:
# multiple exception in a single block
try:
    n1 = int(input("Enter first number: "))
    n2 = int(input("Enter second number: "))
    result = n1 / n2
    print("Result:", result)
except (ValueError, ZeroDivisionError) as e:
    print("An error occurred:", e)
except Exception as e:
    print("An unexpected error occurred:", e)

An error occurred: invalid literal for int() with base 10: 'abc'

In [52]:
# try except else and try except finally
try:
    n1 = int(input("Enter first number: "))
    n2 = int(input("Enter second number: "))
    result = n1 / n2
except (ValueError, ZeroDivisionError) as e:
    print("An error occurred:", e)
else:
    print("The result is:", result)
finally:
    print("Execution completed.")

The result is: 5.0
Execution completed.

In [58]:
def sqrt(n):
    if n < 0:
        raise ValueError("Cannot compute square root of negative number.")
    return n ** 0.5

try:
    print(sqrt(16))
except ValueError as e:
    print("Error:", e)

4.0

In [59]:
# python modules
import math

dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [60]:
math.sqrt(16)

4.0

In [61]:
import math as m
m.factorial(5)

120

In [62]:
# How to make own module
# import sample_module.sum as s
from sample_module import sum as s
print("Sum", s.sum(10,20))
print("Subtraction", s.sub(10,5))
print("Multiplication", s.mul(10,5))
print("Division", s.div(10,2))
print("Modulus", s.mod(10,3))

Sum 30
Subtraction 5
Multiplication 50
Division 5.0
Modulus 1

In [63]:
dir(s)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'div',
 'mod',
 'mul',
 'sub',
 'sum']

In [64]:
help(s)

Help on module sample_module.sum in sample_module:

NAME
    sample_module.sum

FUNCTIONS
    div(a, b)

    mod(a, b)

    mul(a, b)

    sub(a, b)

    sum(a, b)

FILE
    /home/navachethan/Python_practice/sample_module/sum.py

In [65]:
# File operations in Python

open('2.txt', 'w')

In [70]:
file = open('2.txt', 'w')
file.write("Hello world! Hi\n")
file.close()

In [71]:
with open('3.txt', 'a') as f:
    f.write("This is appended line.\n")

In [72]:
with open('4.txt','w') as f:
    for i in range(5):
        f.write(f"This is line {i+1}\n")

In [73]:
with open('2.txt', 'a') as f:
    f.write("This is appended line.\n")

In [75]:
# How to read files in python
with open('2.txt', 'r',encoding='utf-8') as f:
    content = f.read()
    print(content)

f.close()

Hello world! Hi
This is appended line.

In [77]:
with open('1.txt', 'r',encoding='utf-8') as f:
    print(f.readlines())
    print(f.readline())

['Hello this is a sample text file to learn file operations in python.']

In [78]:
# Loop is more efficient way to read files
with open('4.txt', 'r',encoding='utf-8') as f:
    for line in f:
        print(line.strip())

This is line 1
This is line 2
This is line 3
This is line 4
This is line 5

In [87]:
# Other python file methods
with open('5.txt', 'r') as f:
    print(f.tell())

0

In [88]:
with open('5.txt', 'r') as f:
    print(f.tell())
    f.seek(20)
    print(f.tell())

0
20

In [90]:
with open('5.txt', 'r') as f:
    print(f.tell())
    f.seek(20)
    print(f.tell())
    print(f.read())

0
20
 Allen
Iris JOe West
Patty Spivot
Nora Allen
Francisco
Cynthia
Jay Garrick
Eobard Thawne

In [91]:
# Print specific lines by index (0-based indexing)
with open('5.txt', 'r') as f:
    lines = f.readlines()
    print(lines[0])   # First line
    print(lines[2])   # Third line
    print(lines[4])   # Fifth line

Harrison Wells

Iris JOe West

Nora Allen

In [92]:
# Print a range of lines
with open('5.txt', 'r') as f:
    lines = f.readlines()
    print(*lines[0:3], sep='')  # Print first 3 lines
    print(*lines[2:5], sep='')  # Print lines 3 to 5

Harrison Wells
Barry Allen
Iris JOe West

Iris JOe West
Patty Spivot
Nora Allen

In [93]:
# Print lines 2, 4, and 6
with open('5.txt', 'r') as f:
    for i, line in enumerate(f, start=1):
        if i in [2, 4, 6]:
            print(line.strip())

Barry Allen
Patty Spivot
Francisco

In [97]:
with open('5.txt', 'r+',encoding='utf-8') as f:
    print(f.read())
print("==========================================")
with open('5.txt', 'r+',encoding='utf-8') as f:
    f.seek(10)
    f.write("Text added")
print("==========================================")
with open('5.txt', 'r+',encoding='utf-8') as f:
    print(f.read())

Harrison WText added Allen
Iris JOe West
Patty Spivot
Nora Allen
Francisco
Cynthia
Jay Garrick
Eobard Thawne
==========================================
==========================================
Harrison WText added Allen
Iris JOe West
Patty Spivot
Nora Allen
Francisco
Cynthia
Jay Garrick
Eobard Thawne

In [100]:
with open("5.txt", 'a', encoding='utf-8') as f:
    f.write("Caitline Snow\n")

In [109]:
with open('5.txt', 'r+') as f:
    content = f.read()
    content = "Eddie Thawne\n" + content
    # print(content)
    f.seek(0)
    f.write(content)

In [113]:
with open('5.txt', 'r+',encoding='utf-8') as f:
    # print(f.read())
    m_list = f.readlines()
    print(m_list)
    m_list.insert(2, "Zoom\n")
    f.seek(0)
    f.writelines(m_list)

with open('5.txt', 'r+',encoding='utf-8') as f:
    print(f.read())

['Eddie Thawne\n', 'Harrison WText added Allen\n', 'Iris JOe West\n', 'Patty Spivot\n', 'Nora Allen\n', 'Francisco\n', 'Cynthia\n', 'Jay Garrick\n', 'Eobard Thawne\n', ' Caitline Snow\n']
Eddie Thawne
Harrison WText added Allen
Zoom
Iris JOe West
Patty Spivot
Nora Allen
Francisco
Cynthia
Jay Garrick
Eobard Thawne
 Caitline Snow

In [ ]:
# OOP in Python
class car():
    # These are class attributes
    model = "Audi A5"
    color = "Red"
    year = 2020
    speed_limit = 240

car1 = car()
print(car1.model)
print(car1.color)
print(car1.year)
print(car1.speed_limit,"Km/hr")

Audi A5
Red
2020
240 Km/hr

In [115]:
type(car1)

__main__.car

In [117]:
car3 = car1
print(car3.model)

Audi A5

In [ ]:
# python classes and objects
"""
__init__ method works as a constructor in python. It is used to initialize the attributes of the class."""

class Car:
    # these are object attributes initialized using __init__ method
    def __init__(self, model=None, color=None, year=None, speed_limit=None):
        self.model = model
        self.color = color
        self.year = year
        self.speed_limit = speed_limit
    
    def display_info(self):
        print(f"MOdel ;{self.model}, Color: {self.color}, Year: {self.year}, Speed Limit: {self.speed_limit} Km/hr")

car4 = Car("BMW X5", "Black", 2021, 250)
car4.display_info()
car5 = Car("Mercedes GLE")
car5.display_info()

MOdel ;BMW X5, Color: Black, Year: 2021, Speed Limit: 250 Km/hr
MOdel ;Mercedes GLE, Color: None, Year: None, Speed Limit: None Km/hr

In [ ]:
#different methods in python classes -> Regular methods, class methods and static methods
import datetime
class Employee:
    increase_amount = 1.05  # class variable
    def __init__(self, first_name, last_name, salary, skills):
        self.first_name = first_name
        self.last_name = last_name
        self.salary = salary
        self.skills = skills
        self.email = f"{first_name.lower()}.{last_name.lower()}@company.com"
    
    def display_info(self):
        print("======= Employee Information =======")
        print(f"Name: {self.first_name} {self.last_name}, Salary: {self.salary}, Skills: {', '.join(self.skills)}, Email: {self.email}")
    
    def inc_salary(self, percent=5):
        self.salary += self.salary * (percent / 100)
        print(f"Salary increased by {percent}%. New Salary: {self.salary}")
    
    def add_skill(self, skill):
        self.skills.append(skill)
        print(f"Skill '{skill}' added. Updated Skills: {', '.join(self.skills)}")

    @classmethod
    def set_increase_amt(cls, amount):
        # pass
        cls.increase_amount = amount
        
    @staticmethod
    def is_workday(day):
        if day.weekday() in (5, 6):
            return False
        return True


emp1 = Employee("John", "Doe", 60000, ["Python", "Java", "SQL"])
emp1.display_info()

======= Employee Information =======
Name: John Doe, Salary: 60000, Skills: Python, Java, SQL, Email: john.doe@company.com

In [128]:
emp2 = Employee("Jane", "Smith", 75000, ["C++", "JavaScript"])
emp3 = Employee("Alice", "Johnson", 80000, ["Go", "Rust", "Kubernetes"])

emp3.inc_salary(10)

Salary increased by 10%. New Salary: 88000.0

In [135]:
Employee.set_increase_amt(1.10)
print(Employee.increase_amount)

1.1

In [138]:
my_date = datetime.date(2024, 6, 17)
print(Employee.is_workday(my_date))

True

In [139]:
# Inheritance in Python
# Speciaal / magic methods in python 

class Book:
    pass

book = Book()

In [140]:
len(book)

TypeError: object of type 'Book' has no len()

In [145]:
class Book: # double underscore is sometimes called as dunder.
    def __init__(self ,title, author, genre, pages):
        print("init method is called")
        self.title = title
        self.author = author
        self.genre = genre
        self.pages = pages
    def __str__(self):
        return f"'{self.title}' by {self.author}, Genre: {self.genre}, Pages: {self.pages}"
    def __len__(self):
        return self.pages

In [146]:
book = Book("The Great Gatsby", "F. Scott Fitzgerald", "Fiction", 180)

init method is called

In [147]:
len(book)

180

In [148]:
# Functional programming in python
def double(x):
    return x * 2

In [149]:
double = lambda x: x*2

In [151]:
mlist = [1,2,3,4,5]
list2 = list(map(lambda x: x*2, mlist))
list2

[2, 4, 6, 8, 10]

In [153]:
l3 = list(map(lambda x: x**2, range(1,11)))
l3

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
temps = [("New York", 22), ("Los Angeles", 26), ("Chicago", 18), ("Houston", 30)]

ctof = lambda temps: (temps[0], (temps[1] * 9/5) + 32)

l_temps = list(map(ctof, temps)) # map(function, iterable) function is the function to be applied and the iterable is a
# sequence of list, tuples , etc.
l_temps

[('New York', 71.6),
 ('Los Angeles', 78.8),
 ('Chicago', 64.4),
 ('Houston', 86.0)]

In [157]:
# filter function in python : filter(function, iterable) function to be output a boolean value
import  statistics 
data = [8.5, 9.0, 7.5, 6.0, 8.0, 9.5, 7.0, 8.5, 6.5, 7.5]
avg = statistics.mean(data)
print("Average:", avg)

Average: 7.8

In [158]:
filter(lambda x: x > avg, data)

In [159]:
res_list = list(filter(lambda x: x > avg, data))
res_list

[8.5, 9.0, 8.0, 9.5, 8.5]

In [160]:
# Reduce function in python: reduce(function, iterable) 
from functools import reduce
product = reduce(lambda x, y: x * y, [1, 2, 3, 4])
print("Product:", product)

Product: 24

In [161]:
def get_max(x,y):
    if x> y:
        return x
    else:
        return y

In [162]:
reduce(get_max, [3,5,2,8,1])

8

In [163]:
reduce(lambda x,y: x if x>y else y, [3,5,2,8,1])

8

In [165]:
# zip function in python zip(iterable1, iterable2, ...)
list1 = [1,2,3]
list2 = ['a','b','c']
zipped = zip(list1, list2)
list(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

In [166]:
# enumerate function in python
listenum = ["Apple", "Banana", "Cherry"]
i = 0

new_l = list()

for element in listenum:
    new_l.append((i, element))
    i += 1

In [167]:
# enumerate function in python
listenum = ["Apple", "Banana", "Cherry"]

i =0
new_list = []

while i< len(listenum):
    new_list.append((i, listenum[i]))
    i +=1
new_list

[(0, 'Apple'), (1, 'Banana'), (2, 'Cherry')]

In [168]:
name_list = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ian", "Jack"]

list(enumerate(name_list,start=10))

[(10, 'Alice'),
 (11, 'Bob'),
 (12, 'Charlie'),
 (13, 'David'),
 (14, 'Eve'),
 (15, 'Frank'),
 (16, 'Grace'),
 (17, 'Hannah'),
 (18, 'Ian'),
 (19, 'Jack')]

In [169]:
# python all and any functions

def all_true(iterable):
    for i in iterable:
        if not i:
            return False
    return True

In [170]:
list1 = [True, False, True, True, False, True]

all_true(list1)

False

In [171]:
all(list1)

False

In [172]:
all([1,2,0])

False

In [173]:
all([1,2,45,-3,2,89])

True

In [174]:
my_list = [1,45,34,12,1,2,3,56,34,74,29]

all(i<25 for i in my_list)

False

In [176]:
all(i>0 for i in my_list)

True

In [177]:
def any_true(iterable):
    for i in iterable:
        if i:
            return True
    return False

In [178]:
any_truel = [False,False,True]

any_true(any_truel)

True

In [179]:
any(any_truel)

True

In [183]:
# Advanced Python Concepts
bin(4)

'0b100'

In [ ]:
# Working with databases in python
# SQLite example
import  sqlite3

In [184]:
hex(20)

'0x14'

In [185]:
int(0x14)

20

In [186]:
abs(-7)

7

In [187]:
round(9.8)

10

In [189]:
round(3.5) # round to nearest even number

4

In [190]:
round(3.14159,2)

3.14

In [196]:
#min, max, sum functions in python
min(5,2,8,1,4)
max(5,2,8,1,4)
sum([5,2,8,1,4]) # This actually works but gives error here since I have created a function fo the name sum that takes two 
# parameters as arguments.

TypeError: sum() missing 2 required positional arguments: 'y' and 'z'

In [198]:
# Advanced string operations
print("PYTHON".lower())
print("python".upper())
print("hello world".title())

python
PYTHON
Hello World

In [200]:
s ="HELLO"
s.count("L")

2

In [202]:
s = "There was a king who lived happily in a grand palace in the city of kingsland having big family and friends."
s.count("in",5,40) # (string, start, end)

2

In [203]:
s.find("king")

12

In [204]:
s.find("in",5,30)

13

In [206]:
# replace() replaces the old substring with new substring
s.replace("king","queen")

'There was a queen who lived happily in a grand palace in the city of queensland having big family and friends.'

In [208]:
# startswith() and endswith() methods
print(s.startswith("There"))
s.endswith("friends.")

True

True

In [211]:
s.split()

['There',
 'was',
 'a',
 'king',
 'who',
 'lived',
 'happily',
 'in',
 'a',
 'grand',
 'palace',
 'in',
 'the',
 'city',
 'of',
 'kingsland',
 'having',
 'big',
 'family',
 'and',
 'friends.']

In [212]:
s.split("in")

['There was a k',
 'g who lived happily ',
 ' a grand palace ',
 ' the city of k',
 'gsland hav',
 'g big family and friends.']

In [214]:
# strip(), lstrip(), rstrip() methods
s = "   Hello World!   "
print(s.strip())  # removes leading and trailing whitespace
print(s.lstrip()) # removes leading whitespace
print(s.rstrip()) # removes trailing whitespace

Hello World!
Hello World!
   Hello World!

In [215]:
# join() method
words = ["Hello", "world", "this", "is", "Python"]
sentence = " ".join(words)
print(sentence)

Hello world this is Python

In [217]:
list1 = [12,5,2026]
'-'.join(map(str, list1))

'12-5-2026'

In [218]:
# Advanced lists operations
# append(), extend(), insert(), remove(), pop(), clear(), index(), count(), sort(), reverse(), copy()

# Advanced list operations
# append(), extend(), insert(), remove(), pop(), clear(), index(), count(), sort(), reverse(), copy()

# ========================================
# 1. append() - Add single element at the end
# ========================================
fruits = ['apple', 'banana', 'cherry']
print("Original list:", fruits)

fruits.append('orange')
print("After append('orange'):", fruits)

fruits.append(['mango', 'grape'])  # Adds the entire list as one element
print("After append(['mango', 'grape']):", fruits)
print()

# ========================================
# 2. extend() - Add multiple elements at the end
# ========================================
colors = ['red', 'green', 'blue']
print("Original list:", colors)

colors.extend(['yellow', 'purple'])
print("After extend(['yellow', 'purple']):", colors)

colors.extend('pink')  # Adds each character separately
print("After extend('pink'):", colors)
print()

# ========================================
# 3. insert() - Add element at specific position
# ========================================
numbers = [1, 2, 3, 5, 6]
print("Original list:", numbers)

numbers.insert(3, 4)  # Insert 4 at index 3
print("After insert(3, 4):", numbers)

numbers.insert(0, 0)  # Insert at beginning
print("After insert(0, 0):", numbers)

numbers.insert(len(numbers), 7)  # Insert at end (same as append)
print("After insert(len(numbers), 7):", numbers)
print()

# ========================================
# 4. remove() - Remove first occurrence of value
# ========================================
animals = ['cat', 'dog', 'rabbit', 'dog', 'hamster']
print("Original list:", animals)

animals.remove('dog')  # Removes first 'dog'
print("After remove('dog'):", animals)

# animals.remove('lion')  # This would raise ValueError if uncommented
print()

# ========================================
# 5. pop() - Remove and return element at index
# ========================================
items = ['pen', 'pencil', 'eraser', 'ruler', 'notebook']
print("Original list:", items)

removed_item = items.pop()  # Remove last item
print(f"Popped item (no index): {removed_item}")
print("List after pop():", items)

removed_item = items.pop(1)  # Remove item at index 1
print(f"Popped item at index 1: {removed_item}")
print("List after pop(1):", items)
print()

# ========================================
# 6. clear() - Remove all elements
# ========================================
temp_list = [1, 2, 3, 4, 5]
print("Original list:", temp_list)

temp_list.clear()
print("After clear():", temp_list)
print()

# ========================================
# 7. index() - Find index of first occurrence
# ========================================
letters = ['a', 'b', 'c', 'd', 'b', 'e']
print("Original list:", letters)

idx = letters.index('c')
print(f"Index of 'c': {idx}")

idx = letters.index('b')  # Returns first occurrence
print(f"Index of 'b' (first occurrence): {idx}")

idx = letters.index('b', 2)  # Start searching from index 2
print(f"Index of 'b' starting from index 2: {idx}")

# letters.index('z')  # This would raise ValueError if uncommented
print()

# ========================================
# 8. count() - Count occurrences of value
# ========================================
values = [1, 2, 3, 2, 4, 2, 5, 2, 6]
print("Original list:", values)

count_2 = values.count(2)
print(f"Count of 2: {count_2}")

count_7 = values.count(7)
print(f"Count of 7: {count_7}")
print()

# ========================================
# 9. sort() - Sort list in place (ascending)
# ========================================
nums = [5, 2, 8, 1, 9, 3, 7]
print("Original list:", nums)

nums.sort()
print("After sort():", nums)

nums.sort(reverse=True)
print("After sort(reverse=True):", nums)

# Sort strings
words = ['banana', 'apple', 'cherry', 'date']
print("\nOriginal words:", words)
words.sort()
print("After sort():", words)

words.sort(key=len)  # Sort by length
print("After sort(key=len):", words)
print()

# ========================================
# 10. reverse() - Reverse list in place
# ========================================
sequence = [10, 20, 30, 40, 50]
print("Original list:", sequence)

sequence.reverse()
print("After reverse():", sequence)
print()

# ========================================
# 11. copy() - Create shallow copy of list
# ========================================
original = [1, 2, 3, 4, 5]
print("Original list:", original)

# Shallow copy using copy()
copied = original.copy()
print("Copied list:", copied)

copied.append(6)
print("After appending 6 to copied list:")
print("Original:", original)
print("Copied:", copied)
print()

# Comparison with assignment
list1 = [1, 2, 3]
list2 = list1  # Not a copy, just a reference
list3 = list1.copy()  # Actual copy

list2.append(4)
list3.append(5)

print("list1:", list1)
print("list2 (reference):", list2)
print("list3 (copy):", list3)
print()

Original list: ['apple', 'banana', 'cherry']
After append('orange'): ['apple', 'banana', 'cherry', 'orange']
After append(['mango', 'grape']): ['apple', 'banana', 'cherry', 'orange', ['mango', 'grape']]

Original list: ['red', 'green', 'blue']
After extend(['yellow', 'purple']): ['red', 'green', 'blue', 'yellow', 'purple']
After extend('pink'): ['red', 'green', 'blue', 'yellow', 'purple', 'p', 'i', 'n', 'k']

Original list: [1, 2, 3, 5, 6]
After insert(3, 4): [1, 2, 3, 4, 5, 6]
After insert(0, 0): [0, 1, 2, 3, 4, 5, 6]
After insert(len(numbers), 7): [0, 1, 2, 3, 4, 5, 6, 7]

Original list: ['cat', 'dog', 'rabbit', 'dog', 'hamster']
After remove('dog'): ['cat', 'rabbit', 'dog', 'hamster']

Original list: ['pen', 'pencil', 'eraser', 'ruler', 'notebook']
Popped item (no index): notebook
List after pop(): ['pen', 'pencil', 'eraser', 'ruler']
Popped item at index 1: pencil
List after pop(1): ['pen', 'eraser', 'ruler']

Original list: [1, 2, 3, 4, 5]
After clear(): []

Original list: ['a', 'b', 'c', 'd', 'b', 'e']
Index of 'c': 2
Index of 'b' (first occurrence): 1
Index of 'b' starting from index 2: 4

Original list: [1, 2, 3, 2, 4, 2, 5, 2, 6]
Count of 2: 4
Count of 7: 0

Original list: [5, 2, 8, 1, 9, 3, 7]
After sort(): [1, 2, 3, 5, 7, 8, 9]
After sort(reverse=True): [9, 8, 7, 5, 3, 2, 1]

Original words: ['banana', 'apple', 'cherry', 'date']
After sort(): ['apple', 'banana', 'cherry', 'date']
After sort(key=len): ['date', 'apple', 'banana', 'cherry']

Original list: [10, 20, 30, 40, 50]
After reverse(): [50, 40, 30, 20, 10]

Original list: [1, 2, 3, 4, 5]
Copied list: [1, 2, 3, 4, 5]
After appending 6 to copied list:
Original: [1, 2, 3, 4, 5]
Copied: [1, 2, 3, 4, 5, 6]

list1: [1, 2, 3, 4]
list2 (reference): [1, 2, 3, 4]
list3 (copy): [1, 2, 3, 5]

In [219]:
# ========================================
# COMBINED OPERATIONS - Real World Examples
# ========================================

# Example 1: Shopping Cart Management
print("="*50)
print("Example 1: Shopping Cart")
print("="*50)

cart = []
print("Empty cart:", cart)

# Add items
cart.append('Laptop')
cart.append('Mouse')
cart.extend(['Keyboard', 'Monitor'])
print("After adding items:", cart)

# Insert item at specific position
cart.insert(1, 'Headphones')
print("After inserting Headphones at index 1:", cart)

# Remove item
cart.remove('Mouse')
print("After removing Mouse:", cart)

# Check if item exists
if 'Laptop' in cart:
    print(f"Laptop is at index: {cart.index('Laptop')}")

print(f"Total items in cart: {len(cart)}")
print()

# Example 2: Grade Management System
print("="*50)
print("Example 2: Grade Management")
print("="*50)

grades = [85, 92, 78, 90, 88, 92, 76, 95]
print("Original grades:", grades)

# Count specific grade
count_92 = grades.count(92)
print(f"Number of students with 92: {count_92}")

# Sort grades
sorted_grades = grades.copy()
sorted_grades.sort(reverse=True)
print("Sorted grades (descending):", sorted_grades)

# Find highest and lowest
print(f"Highest grade: {sorted_grades[0]}")
print(f"Lowest grade: {sorted_grades[-1]}")

# Remove lowest grade
grades_copy = grades.copy()
grades_copy.remove(min(grades_copy))
print("After removing lowest grade:", grades_copy)
print()

# Example 3: Task Manager
print("="*50)
print("Example 3: Task Manager")
print("="*50)

tasks = ['Write report', 'Send emails', 'Meeting at 2pm']
print("Current tasks:", tasks)

# Add new tasks
tasks.insert(0, 'Review code')  # Highest priority
tasks.append('Call client')  # Lowest priority
print("After adding new tasks:", tasks)

# Complete a task
completed = tasks.pop(0)
print(f"Completed task: {completed}")
print("Remaining tasks:", tasks)

# Reorder tasks
tasks.reverse()
print("Tasks reversed:", tasks)
print()

# Example 4: Playlist Management
print("="*50)
print("Example 4: Playlist Management")
print("="*50)

playlist = ['Song A', 'Song B', 'Song C', 'Song D']
print("Original playlist:", playlist)

# Add songs
playlist.extend(['Song E', 'Song F'])
print("After adding songs:", playlist)

# Move song to top
favorite = 'Song D'
if favorite in playlist:
    playlist.remove(favorite)
    playlist.insert(0, favorite)
print(f"After moving {favorite} to top:", playlist)

# Shuffle simulation (reverse for simple example)
shuffled = playlist.copy()
shuffled.reverse()
print("Shuffled playlist:", shuffled)
print("Original playlist (unchanged):", playlist)
print()

# Example 5: Inventory Management
print("="*50)
print("Example 5: Inventory Management")
print("="*50)

inventory = ['item1', 'item2', 'item3', 'item2', 'item4', 'item2']
print("Current inventory:", inventory)

# Count specific item
item_count = inventory.count('item2')
print(f"'item2' count: {item_count}")

# Remove all occurrences of an item
while 'item2' in inventory:
    inventory.remove('item2')
print("After removing all 'item2':", inventory)

# Restock items
inventory.extend(['item5', 'item6', 'item7'])
inventory.sort()
print("After restocking and sorting:", inventory)
print()

==================================================
Example 1: Shopping Cart
==================================================
Empty cart: []
After adding items: ['Laptop', 'Mouse', 'Keyboard', 'Monitor']
After inserting Headphones at index 1: ['Laptop', 'Headphones', 'Mouse', 'Keyboard', 'Monitor']
After removing Mouse: ['Laptop', 'Headphones', 'Keyboard', 'Monitor']
Laptop is at index: 0
Total items in cart: 4

==================================================
Example 2: Grade Management
==================================================
Original grades: [85, 92, 78, 90, 88, 92, 76, 95]
Number of students with 92: 2
Sorted grades (descending): [95, 92, 92, 90, 88, 85, 78, 76]
Highest grade: 95
Lowest grade: 76
After removing lowest grade: [85, 92, 78, 90, 88, 92, 95]

==================================================
Example 3: Task Manager
==================================================
Current tasks: ['Write report', 'Send emails', 'Meeting at 2pm']
After adding new tasks: ['Review code', 'Write report', 'Send emails', 'Meeting at 2pm', 'Call client']
Completed task: Review code
Remaining tasks: ['Write report', 'Send emails', 'Meeting at 2pm', 'Call client']
Tasks reversed: ['Call client', 'Meeting at 2pm', 'Send emails', 'Write report']

==================================================
Example 4: Playlist Management
==================================================
Original playlist: ['Song A', 'Song B', 'Song C', 'Song D']
After adding songs: ['Song A', 'Song B', 'Song C', 'Song D', 'Song E', 'Song F']
After moving Song D to top: ['Song D', 'Song A', 'Song B', 'Song C', 'Song E', 'Song F']
Shuffled playlist: ['Song F', 'Song E', 'Song C', 'Song B', 'Song A', 'Song D']
Original playlist (unchanged): ['Song D', 'Song A', 'Song B', 'Song C', 'Song E', 'Song F']

==================================================
Example 5: Inventory Management
==================================================
Current inventory: ['item1', 'item2', 'item3', 'item2', 'item4', 'item2']
'item2' count: 3
After removing all 'item2': ['item1', 'item3', 'item4']
After restocking and sorting: ['item1', 'item3', 'item4', 'item5', 'item6', 'item7']

In [220]:
# ========================================
# QUICK REFERENCE - All Methods Together
# ========================================

print("="*60)
print("COMPREHENSIVE LIST METHODS DEMONSTRATION")
print("="*60)

# Starting list
my_list = [3, 1, 4, 1, 5, 9, 2, 6]
print(f"Starting list: {my_list}\n")

# 1. append()
my_list.append(7)
print(f"1. append(7):           {my_list}")

# 2. extend()
my_list.extend([8, 9])
print(f"2. extend([8, 9]):      {my_list}")

# 3. insert()
my_list.insert(0, 0)
print(f"3. insert(0, 0):        {my_list}")

# 4. index()
idx = my_list.index(5)
print(f"4. index(5):            Position {idx}")

# 5. count()
cnt = my_list.count(1)
print(f"5. count(1):            {cnt} occurrences")

# 6. remove()
my_list.remove(9)  # Removes first 9
print(f"6. remove(9):           {my_list}")

# 7. pop()
popped = my_list.pop()
print(f"7. pop():               {my_list} (removed {popped})")

# 8. copy()
list_copy = my_list.copy()
print(f"8. copy():              {list_copy} (copied)")

# 9. sort()
my_list.sort()
print(f"9. sort():              {my_list}")

# 10. reverse()
my_list.reverse()
print(f"10. reverse():          {my_list}")

# 11. clear()
temp = my_list.copy()
temp.clear()
print(f"11. clear() on copy:    {temp}")

print(f"\nFinal list: {my_list}")
print(f"Length: {len(my_list)}")

============================================================
COMPREHENSIVE LIST METHODS DEMONSTRATION
============================================================
Starting list: [3, 1, 4, 1, 5, 9, 2, 6]

1. append(7):           [3, 1, 4, 1, 5, 9, 2, 6, 7]
2. extend([8, 9]):      [3, 1, 4, 1, 5, 9, 2, 6, 7, 8, 9]
3. insert(0, 0):        [0, 3, 1, 4, 1, 5, 9, 2, 6, 7, 8, 9]
4. index(5):            Position 5
5. count(1):            2 occurrences
6. remove(9):           [0, 3, 1, 4, 1, 5, 2, 6, 7, 8, 9]
7. pop():               [0, 3, 1, 4, 1, 5, 2, 6, 7, 8] (removed 9)
8. copy():              [0, 3, 1, 4, 1, 5, 2, 6, 7, 8] (copied)
9. sort():              [0, 1, 1, 2, 3, 4, 5, 6, 7, 8]
10. reverse():          [8, 7, 6, 5, 4, 3, 2, 1, 1, 0]
11. clear() on copy:    []

Final list: [8, 7, 6, 5, 4, 3, 2, 1, 1, 0]
Length: 10