In [5]:
print(3+5)
print(3-5)
print(3*5)
print(3**2)
print(16/4)
print(16//4)

8
-2
15
9
4.0
4

In [8]:
x,y = 10,3
print(x); print(y)

10
3

In [9]:
def circum_circle(rad):
    return 2 * 3.14 * rad

print(circum_circle(5))

31.400000000000002

In [ ]:
# Strings slicing
s= "Hello good morning ron"
# syntax:  string[start:stop:step]
s[2:10]
"""
for matrix : matrix[row_start:row_stop:row_step]  # Slice rows
matrix[row][col_start:col_stop:col_step]  # Slice columns in a specific row
"""

'llo good'

In [11]:
s[::]

'Hello good morning ron'

In [12]:
s[::-1]

'nor gninrom doog olleH'

In [13]:
s[:-1]

'Hello good morning ro'

In [14]:
s[:-1:]

'Hello good morning ro'

In [15]:
s[-1::]

'n'

In [17]:
s[::2]

'Hlogo onn o'

In [18]:
s[::3]

'Hlgdoi n'

In [19]:
s = "Hello python"
len(s)

12

In [22]:
count = 0
for i in range(len(s)):
    count +=1
print(count)

12

In [24]:
# concat string
a = "hello"
b = "world"
s = a + b
s

'helloworld'

In [26]:
s = [1,2,3,4,5]
print(s)
print(*s)

[1, 2, 3, 4, 5]
1 2 3 4 5

In [31]:
# Format in print 
name = "Alice"
age = 30
print("My name is {} and I am {} years old.".format(name,age))

My name is Alice and I am 30 years old.

In [33]:
print(f"value {1.45454532:.2f}")

value 1.45

In [39]:
my_list = list(range(1,11))
print(my_list )
my_list2 = list(range(10,15))
print(my_list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 11, 12, 13, 14]

In [40]:
list = my_list + my_list2
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 11, 12, 13, 14]

In [42]:
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [6,7]

listl1 = [l1,l2,l3]
listl1

[[1, 2, 3], [4, 5, 6], [6, 7]]

In [43]:
listl1[0][2]

3

In [55]:
#Tuples - immutable
t = (1,1,2,3,4,5)
# t[0] = 10

In [47]:
t[1:5:2]

(2, 4)

In [48]:
t.index(4)

3

In [49]:
l1.index(3)

2

In [56]:
t.count(1)

2

In [1]:
"""
dictionaries can be created in following ways:
1. Using curly braces {}
2. Using dict() function    
"""
dict1 = {}
dict1

{}

In [3]:
d2 = dict()
d2

{}

In [4]:
d3 = {"key1": 1, "key2": 2}
d3

{'key1': 1, 'key2': 2}

In [5]:
type(dict1)

dict

In [8]:
d4 = {"key3": 3, "key4": 4}
dict2 = d3 | d4 # or can use .update() method or {**d3, **d4}
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [9]:
# How to add key value pairs to dictionary
dict2["key5"] = 5
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

In [10]:
dict2.pop('key5')

5

In [11]:
dict2

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [13]:
dict3 = {"one":1, "two":2, "three":3}
print(dict3.keys())
print(dict3.values())
print(dict3.items())

dict_keys(['one', 'two', 'three'])
dict_values([1, 2, 3])
dict_items([('one', 1), ('two', 2), ('three', 3)])

In [15]:
#python sets
x = set()
x

set()

In [16]:
x.add(1)
x.add(2)

In [17]:
x

{1, 2}

In [19]:
x.pop()

1

In [20]:
x.add(3);x.add(4);x.add(5);x.add(6)
x

{2, 3, 4, 5, 6}

In [25]:
# data type conversion
a = 24
b =float(a)
print(type (a)); print(type(b))

<class 'int'>
<class 'float'>

In [26]:
a = 5.98
print(int(a))

5

In [27]:
a = 10
str(a)

'10'

In [29]:
str = "10"
int(str)

10

In [30]:
# conversions can be done from list to tuples and tuples to list as well.

In [31]:
n = input()

In [32]:
n

'10'

In [34]:
try:
    num = int (input("Enter a number: "))
    print(num)
except ValueError:
    print("Invalid input! Please enter a valid integer.")

10

✍ Assignment 1:
Write a Python program which accepts the user's first and last name and print them in reverse order with a space between them.

✍ Assignment 2:
Write a Python program which accepts the radius of a circle from the user and compute the area.

✍ Assignment 3:
Write a Python program to get the the volume of a sphere with radius 5.

✍ Assignment 4:
Write a Python program that gets 2 differents numbers as inputs from the user and print them by swapping.

✍ Assignment 5:
Write a Python program that gets the weights and heights as inputs from the user and calculates body mass index(BMI).

✍ Assignment 6:
Write a Python program to find whether a given number (get the numbers from the user) is even or odd, print out an appropriate message to the user.

In [35]:
#Solution 1
Fname = input("Enter your first name: ")
LName = input("Enter your last name: ")
print(LName + " "+Fname)

Wisely Ron

In [ ]:
# Solution 2
def area_of_circle(radius ):
    pi = 3.14159
    area = pi * (radius ** 2)
    return area
area_of_circle(int(input("Enter the radius:")))

314.159

In [ ]:
# Solution 3
# volume of sphere = (4/3)πr³
print("volume of sphere is :", (4/3) * 3.14159 * (5**3))

volume of sphere is : 523.5983333333332

In [40]:
#solution 4
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
a,b = b,a
print(a)
print(b)

20
10

In [43]:
#solution5
wt = float(input("Enter your weight in kg: "))
ht = float(input("Enter your height in meters: "))
bmi = wt/(ht**2)
print("Your BMI is :", bmi)

Your BMI is : 0.0025535446391522234

In [44]:
# solution 6
num = int(input("Enter a number: "))
if num % 2 ==0:
    print("Even number")
else:
    print("Odd number")

Even number

In [45]:
# Comparision operators in python
# ==, !=, >, <, >=, <=
bool(0)

False

In [46]:
bool(-1)

True

In [47]:
1 ==1

True

In [48]:
1 == 2

False

In [49]:
1!=2

True

In [50]:
1 <= 2

True

In [51]:
1>=2

False

In [52]:
print(1 == 2)
print(1 == 1)
print (1 <= 1)
print (1 <= 2)
print (2 <= 1)
print (bool(0))

False
True
True
True
False
False

In [56]:
# Logical operators in python
# and, or, not

print(2 == 3 and 3 > 1)
print(2 ==3 or 3 > 1)
print(not (2 != 3))

False
True
False

In [57]:
# Membership operators
s = "Hello good morning ron"
if "good" in s:
    print("Found")
else:
    print("Not Found")

Found

In [58]:
if "bad" not in s:
    print("Not Found")
else:
    print("Found")

Not Found

In [59]:
# Comparision operators in python
1 < 3 and 2 > 1

True

In [60]:
1 < 3 > 2

True

In [61]:
1 < 3 > 4

False

In [67]:
# Python program runs top to bottom
if (int(input("Enter a number: ")) > 0):
    print("Positive number")
else:
    print("Negative number")

Positive number

In [68]:
print("""
===========================
 Simple Calculator
===========================
Please select an operation:
1) Add
2) Subtract
3) Multiply
4) Divide
""")
choice = input("Please enter a choice(1/2/3/4):")
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
if choice == '1':
    print(num1,"+",num2,"=", num1+num2)
elif choice == '2':
    print(num1,"-",num2,"=", num1-num2)
elif choice == '3':
    print(num1,"*",num2,"=", num1*num2)
elif choice == '4':
    print(num1,"/",num2,"=", num1/num2)
else:
    print("Invalid input")

===========================
 Simple Calculator
===========================
Please select an operation:
1) Add
2) Subtract
3) Multiply
4) Divide

10 + 20 = 30

In [71]:
mark = float(input("Please, enter your score: "))
if mark >= 90:
    print('Your grade is : A+')
elif mark >= 85:
    print('Your grade is : A')
elif mark >= 80:
    print('Your grade is : B')
elif mark >= 70:
    print('Your grade is : C')
elif mark >= 60:
    print('Your grade is : D')
else:
    print('Failed! Your grade is : F')

Your grade is : C

In [72]:
list_of_numbers = [10, 25, 30, 45, 50]

for i in list_of_numbers:
    if i % 2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

10 is even
25 is odd
30 is even
45 is odd
50 is even

In [73]:
for i in range (10):
    if i%2 == 0:
        print(f"{i} is even")
    else:
        print(f"{i} is odd")

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

In [74]:
dict_sample = {"a":1, "b":2, "c":3, "d":4, "e":5}

for i in dict_sample.items():
    print(i)

('a', 1)
('b', 2)
('c', 3)
('d', 4)
('e', 5)

In [75]:
for i in dict_sample.values():
    print(i)

1
2
3
4
5

In [76]:
for k,v in dict_sample.items():
    print(f"key: {k}, value: {v}")

key: a, value: 1
key: b, value: 2
key: c, value: 3
key: d, value: 4
key: e, value: 5

In [80]:
listl1 = list(range(100))
print(*listl1)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99

In [81]:
print(*range(1,100,2))

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [86]:
print(*range(100,0,-2))

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [87]:
for i in range(1,11):
    print(i * "+")

+
++
+++
++++
+++++
++++++
+++++++
++++++++
+++++++++
++++++++++

In [88]:
for i in range(10,0,-1):
    print(i * "#")

##########
#########
########
#######
######
#####
####
###
##
#

In [89]:
# While loop
count = 0
while count < 5:
    print("Count is:", count)
    count += 1

Count is: 0
Count is: 1
Count is: 2
Count is: 3
Count is: 4

In [95]:
sum = 0
i =1
while i <= 10:
    sum += i
    i += 1
print("Sum is:", sum)

Sum is: 55

In [98]:
# Break statement
for num in range(1,11):
    if num == 6:
        break
    print(num)

1
2
3
4
5

In [99]:
for i in range(1,11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
a = 0
while (a < 10):
 if a == 3:
    a+=1 # If this line does not exist, it will result in infinite loop
    continue
 print(a)
 a+=1

0
1
2
4
5
6
7
8
9

In [102]:
# Pass statement in Python
for i in range(1, 6):
    if i == 3:
        pass  # Placeholder for future code     
    print(i)

1
2
3
4
5

In [104]:
# List comprehension
squares = [x**2 for x in range(1,11)]
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [1]:
list_num = [1,2,3,4,5]

list2 = [x*2 for x in list_num]
list2

[2, 4, 6, 8, 10]

In [5]:
list_val = [(1,2), (3,4), (5,6)]
list3 = [x for x,y in list_val]
list4 = [y for x,y in list_val]
print(list3)
print(list4)

[1, 3, 5]
[2, 4, 6]

In [7]:
my_str = "Hello world 123456"

numb = [i for i in  my_str if i.isdigit()]
numb

['1', '2', '3', '4', '5', '6']

In [ ]:
# Method 1
list1 = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13],[14,15,16,17,18,19,20]]
res_list = list()
for i in list1:
    for j in i:
        # print(j)
        res_list.append(j)
res_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [11]:
# Method 2
list1 = [[1,2,3],[4,5,6,7,8],[9,10,11,12,13],[14,15,16,17,18,19,20]]
res_list = [j for i in list1 for j in i]
res_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
# DRY programming - Don't Repeat Yourself - Avoid redundancy that is repeating the same code multiple times.

def sum(x,y,z):
    return x + y + z

sum(1,2,3)

6

In [14]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n-1)
factorial(5)

120

In [23]:
def factr(num):
    fact = 1
    if(num ==0):
        print("Factorial:"+fact)
    else:
        while( num>0):
            fact *=num
            num -=1
        print("Factorial:", fact)
        
factr(5)

Factorial: 120

In [26]:
def sqr(a):
    print("Square of {}:{}".format(a,a**2))

sqr(5)

Square of 5:25

In [27]:
def multiply(x, y):
    return x * y
multiply(4,5)

20

In [29]:
sqr(multiply(4,4))

Square of 16:256

In [30]:
def double(a):
    print("First function executed.")
    return a * 2
def add2(a):
    print("Third function executed.")
    return a + 2
def substract3(a):
    print("Second function executed.")
    return a - 3

print(add2(substract3(double(5))))

First function executed.
Second function executed.
Third function executed.
9

In [ ]:
# Function parameter types
"""
1. Required arguments
2. Keyword arguments
3. Default arguments
4. Variable-length arguments
"""

# Required arguments
def ex_reqarg(name,age):
    return f"Name: {name}, Age: {age}"

print(ex_reqarg("Alice",30))
print(ex_reqarg(24,"Bob"))

# keyword arguments
print(ex_reqarg(age=28, name="Charlie"))


# Default arguments
def ex_defarg(name, age=25): # If value is not passed, default value set is used
    return f"Name: {name}, Age: {age}"  
print(ex_defarg("David"))
print(ex_defarg("Eve", 32))



# Variable-length arguments
def ex_vararg(*args):
    return args
print(ex_vararg(1,2,3))
print(ex_vararg("a","b","c","d"))
print(ex_vararg(1,"a",True,3.14))

Name: Alice, Age: 30
Name: 24, Age: Bob
Name: Charlie, Age: 28
Name: David, Age: 25
Name: Eve, Age: 32
(1, 2, 3)
('a', 'b', 'c', 'd')
(1, 'a', True, 3.14)

In [37]:
# Global and local variables
# All the variables defined outside the functions are global variables and all the 
# variables defined inside the functions are local variables.

c = 7
def my_function():
    c = 5
    print(c)
my_function()
print(c)



d = 7
def my_func():
    global d
    d = 5
    print(d)
my_func()
print(d)

5
7
5
5

In [ ]:
# Lambda functions -> also known as anonymous functions
# syntax: lambda arguments: expression

add = lambda x, y: x + y
print(add(3,5))

8

In [39]:
double = lambda x: x * 2
print(double(4))

8

In [40]:
even_odd = lambda x: "Even" if x%2 ==0 else "Odd"

In [41]:
reverse_txt = lambda s: s[::-1]
print(reverse_txt("Hello world"))

dlrow olleH

In [43]:
def is_palindrome(s):
    str = ''
    for i in s:
        if i.isalnum():
            str += i.lower()
            
            
    return str == str[::-1]
print(is_palindrome("A man, a plan, a canal: Panama"))

True

In [49]:
# Errors and Exceptions
# SyntaxError, TypeError, NameError, IndexError, KeyError, ValueError, AttributeError, ZeroDivisionError    
try:
    num = int("120")
    print(num)
except:
    print("Invalid input! Please enter a valid integer.")

120

In [50]:
try:
    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))
    print(num1/num2)
except ZeroDivisionError:
    print("Error: Division by zero is not allowed.")
except ValueError:
    print("Error: Invalid input. Please enter numeric values.")
print("End of the program.")

Error: Division by zero is not allowed.
End of the program.

In [51]:
# multiple exception in a single block
try:
    n1 = int(input("Enter first number: "))
    n2 = int(input("Enter second number: "))
    result = n1 / n2
    print("Result:", result)
except (ValueError, ZeroDivisionError) as e:
    print("An error occurred:", e)
except Exception as e:
    print("An unexpected error occurred:", e)

An error occurred: invalid literal for int() with base 10: 'abc'

In [52]:
# try except else and try except finally
try:
    n1 = int(input("Enter first number: "))
    n2 = int(input("Enter second number: "))
    result = n1 / n2
except (ValueError, ZeroDivisionError) as e:
    print("An error occurred:", e)
else:
    print("The result is:", result)
finally:
    print("Execution completed.")

The result is: 5.0
Execution completed.

In [58]:
def sqrt(n):
    if n < 0:
        raise ValueError("Cannot compute square root of negative number.")
    return n ** 0.5

try:
    print(sqrt(16))
except ValueError as e:
    print("Error:", e)

4.0

In [59]:
# python modules
import math

dir(math)

['__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fma',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'sumprod',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [60]:
math.sqrt(16)

4.0

In [61]:
import math as m
m.factorial(5)

120

In [62]:
# How to make own module
# import sample_module.sum as s
from sample_module import sum as s
print("Sum", s.sum(10,20))
print("Subtraction", s.sub(10,5))
print("Multiplication", s.mul(10,5))
print("Division", s.div(10,2))
print("Modulus", s.mod(10,3))

Sum 30
Subtraction 5
Multiplication 50
Division 5.0
Modulus 1